<!--头部区域-->
<div class='head'>
	<h3 id="goBack"><a><i></i></a>CGTop</h3>
</div>
<!--内容区域-->
<div class="content">
	<div class="cgtopCont" id="cgtopCont">
		<!--内容页面显示-->
		<div class="video">
			<img src="images/video_02.png" />
		</div>
		<div class="cont">
			<h3>创意在哪里？</h3>
			<p>关注创意领域的实践和动态。在这里，您既可体验鲜活而精彩的创意案例，聆听专家对创意难点问题的解答，又可掌握实用工具，并紧扣前沿，与广大经理人和精英切磋创意之道。</p>
		</div>
	</div>
</div>
<div id="box"></div>

<div id="template" style="display: none;">
	<!--播放提示-->
	<!--模态层-->
	<div class="modal"></div>
	<!--分享菜单-->
	<div class="hint">
		<h3>是否使用流量播放视频</h3>
		<div class="btn">
			<button type="button" class="cancel">取消</button>
			<button type="button" class="ok">确定</button>
		</div>
	</div>
</div>