<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<title></title>
		<link href="css/rest.css" rel='stylesheet' type="text/css" />
		<link href="css/base.css" rel='stylesheet' type="text/css" />
		<link href="css/style.css" rel='stylesheet' type="text/css" />
		<link href="css/font-awesome.css" rel='stylesheet' type="text/css" />
		<link href="css/fonts.css" rel='stylesheet' type="text/css" />
		<script src="js/js.js"></script>
	</head>
	<body class="bg-f7">
		<!--头部区域-->
		<div class='head'>
			<h3><i></i>忘记密码</h3>
		</div>
		<!--内容区域-->
		<div class="content">
			<!--登陆验证-->
			<div class="password">
				<form>
					<input type="text" placeholder="电话">
					
					<input type="text" placeholder="验证码">
					<input type="password" placeholder="新密码">
					<input type="password" placeholder="确认新密码">
					<p class="red hide">输入密码不一致</p>
					<p>密码长度至少6个字符，最多32个字符</p>
					<button type="button"><i></i><span>提交</span><i></i></button>
				</form>
			</div>
		</div>
	</body>
</html>
