
	<div class="app" id="app">
		<!--模态层-->
		<div class="modal hide"></div>
		<!--分享菜单-->
		<div class="hint hide">
			<p>
				由于你已连续三天没有考勤纪录<br />为避免可能发生的安全问题<br />系统将要联系你的紧急联系人
			</p>
			<button type="button" id="btn">知道了</button>
		</div>
		
			<!--<img src="images/head.png"/>-->
		<!--头部区域-->
		<header>
			<div class="header clearfix" id="header">
				<!--学生信息-->
				<div id="set"><a><img src="images/head.png"/></a></div>
				<div><h2>李雷<span>总排名:<i>11</i></span></h2>
					<p>平均成绩:<i>A-</i></p>
					<p>职业素质:<i>95</i></p>
				</div>
				
				<div><img src="images/sign.png"/></div>
				<div id="goGrade"><a><i class="fa fa-angle-down"></i></a></div>
			</div>
		</header>
		<section class="inner">
			<!--banner-->
			<div class="banner">
				<ul class="clearfix">
					<li><img src="images/banner.png"/></li>
				</ul>
				<ol>
					<li class="ac"></li>
					<li></li>
					<li></li>
					<li></li>
				</ol>
			</div>
			<!--我的作品-->
			<div class="work" id="work">
				<div class="title">
					<h3 class="clearfix"><i class="wk"></i>作品盒子</h3>
					<div class="more"><a>开启</a></div>
				</div>
				<div class="workList">
					<!--作品盒子-->
					
				</div>
			</div>
			<!--五星作品-->
			<div class="work" id="star">
				<div class="title">
					<h3 class="clearfix"><i class="wx"></i>五星作品</h3>
					<div class="more"><a>开启</a></div>
				</div>
				<div class="workList">
					<!--五星作品-->
					
				</div>
			</div>
		</section>
	</div>
	
	<!--作品盒子 插入模板-->
	<div id="templateWork" style="display: none;">
		<div><a>
			<img src="images/work-1.png" />
			<h5>冯苏苏</h5>
			<p>1512期UI视觉设计师班1班</p>
			</a>
		</div>
	</div>
	
	<!--作品盒子 插入模板-->
	<div id="templateStar" style="display: none;">
		<div><a>
			<img src="images/work-1.png" />
			<h5>冯苏苏</h5>
			<p>1512期UI视觉设计师班1班</p>
			</a>
		</div>
	</div>
	

