
<!--头部区域-->
<div class='head'>
	<h3 id="goBack"><a><i></i></a>设置</a></h3>
</div>
<!--内容区域-->
<div class="content" id="setCont">
	<!--设置页面-->
	<div class="set">
		<ul>
			<li>头像<span class="headPic"><img src="images/head_03.jpg"/></span></li>
			<li>修改密码</li>
			<li>消息通知<span class="inform">22</span></li>
			<li>退出当前账号</li>
			<li>升级<i></i><span class="grade">v.1.0</span></li>
		</ul>
	</div>
</div>
<div id="box">
	
</div>
<div id="templateHead" style="display: none;">
	<!--模态层-->
	<div class="modal"></div>
	<!--修改头像  》弹窗-->
	<div class="revision" id="revision">
		<h3>修改头像</h3>
		<p id="deleteA"><i class="fa fa-file-picture-o"></i>从相册中选择</p>
		<p id="deleteB"><i class="fa fa-camera"></i>拍照</p>
	</div>
</div>

<div id="templateOut" style="display: none;">
	<!--模态层-->
	<div class="modal"></div>
	<!--确认退出  》弹窗-->
	<div class="hint" id="hint">
		<h3>确定退出</h3>
		<div class="btn">
			<button type="button" class="cancel">取消</button>
			<button type="button" class="ok">确定</button>
		</div>
	</div>
</div>
