
<!--头部区域-->
<div class='head headTab' id="headTab">
	<ul class="tabList">
		<li class='ac'>CGTop</li>
		<li>活动通知</li>
		<li>校园广播</li>
		<li>邮件</li>
	</ul>
</div>
<!--内容区域-->
<div class="content tabCont mar-b-110" id="tabCont">
	<!--CGTop-->
	<div class="tabItem" id="cgtop">
		
		<!--CGtop-->
	</div>

	<!--活动通知-->
	<div class="tabItem hdtz">
		<!--活动通知-->
		
		
	</div>	

	<!--校园广播-->
	<div class="tabItem xygb">
		<!--无信息显示-->
		<div class="gap hide">
			<img src="images/zk_05.png">
			<p>还没有收到校园通知哦~</p>
		</div>
		<ul>
<!--新闻裂变-->
		</ul>
	</div>
	<!--邮件-->
	<div class="tabItem yj">
		<!--无信息显示-->
		<div class="gap">
			<img src="images/zk_03.png">
			<p>还没有收到邮件哦~</p>
		</div>
	</div>
</div>


<div id="templateXygb" style="display: none;">	
	<li>
		<div class="bt">
			<a>2016春季招聘会</a><span>16-2-13</span>
		</div>
		<h3><a href="javascript:;">#新闻</a></h3>
		<p>2016年春季招聘会将于2016年4月12日在火12日在火12日在火12日在火星时</p>
		
	</li>
</div>

<div id="templateHdtz" style="display: none;">	
	<dl><a>
		<dd><img src="images/hd_02.png"/>
			<div class="ac"><img src="images/hdjs_03.png"/></div>
		</dd>
		<dt>
			<h3>海报创意设计</h3>
			<p>海子团队讲解想法，带你卡开拓思维和想法</p>
			<p class="clearfix"><span class="fl"><i class="dizhiIcon"></i>火星时代  </span>
			<span class="fr"><i class="timeIcon"></i>16-5-25</span></p>
		</dt>
		</a>
	</dl>
</div>

<div id="templateCGtop" style="display: none;">
	<div class="cgtop">
		<a>
		<img src="images/cg_02.png">
		<div class="out">
			<div class="case">
				<h3>创意在哪里？</h3>
				<h4>#海报设计</h4>
			</div>
		</div>
		</a>
	</div>
</div>


