
<!--头部区域-->
<div class='head' id="head">
	<h3 id="goBack"><a><i></i></a></h3>
	<div class="thumbs" id="thumbs">
		<i class="fa fa-thumbs-o-up"></i>
	</div>
	<div class="dubThumbs">
		<i class="fa fa-share-square-o" id="share"></i><i class="fa fa-thumbs-o-up"></i>
	</div>
</div>
<!--内容区域-->
<div class="content workCont" id="workCont">
	
	<!--正常显示内容-->
	<div class='Wtitle' id="Wtitle">
		<h3>京剧故事主题图标</h3>
		<ul class="clearfix">
			<li><i class="fa fa-eye"></i><span>65</span></li>
			<li><i class="fa fa-thumbs-up"></i><span id="thumbs-up">27</span></li>
		</ul>
	</div>
	<div class="Whead" id="Whead">
		<i><img src="images/head_03.jpg"/></i>
		<span>李雷</span> 1512期UI视觉设计师班2班
	</div>
	<div class="Wcont" id="Wcont">
		<img src="images/workCont_03.jpg" />
	</div>
</div>

<div id="template" style="display: none;">
	<!--模态层-->
	<div class="modal"></div>
	<!--分享菜单-->
	<div class="share" id="shareT">
		<div class="shareUp">
			<h3>分享到</h3>
			<ul>
				<li><i><img src="images/share_03.png"/></i>微信好友</li>
				<li><i><img src="images/share_05.png"/></i>新浪微博</li>
				<li><i><img src="images/share_07.png"/></i>朋友圈</li>
				<li><i><img src="images/share_09.png"/></i>获取链接</li>
			</ul>
		</div>
		<button type="button" class="shareDown" id="shareDown">取消</button>
	</div>
</div>
