
<script src="js/radialIndicator.js"></script>
<!--头部区域-->
<div class='head'>
	<h3 id="goBack"><a><i></i></a>职业素质分</h3>
</div>
<!--内容区域-->
<div class="content">
	<!--评价窗口-->
	<div class="zysz">
		<div id="indicatorContainer">
			 <h2 id="fenshu"></h2>
			 <p id="desc"></p>
		</div>
	</div>
	<!--留言列表-->
	<div class="messList">
		<!--有内容显示样式-->
		<div class="tabItem">
			<div class="row">
				<div class="col"><h3>时间</h3></div>
				<div class="col"><h3>调整分数</h3></div>
				<div class="col"><h3>说明</h3></div>
			</div>
			<div id="rowCont">
				<!--列表项-->
			</div>
				
		</div>
	</div>
</div>

<div id="template" style="display: none;">
	<div class="row">
		<div class="col">2016/4/19</div>
		<div class="col">+2</div>
		<div class="col">入选五星作品</div>
	</div>

</div>
