
<!--我的成绩-->
<div class="grade">
	<!--个人信息-->
	<dl>
		<dd><img src="images/head_03.jpg"/></dd>
		<dt>
			<h3>李雷<b><i></i><span>总排名：11</span><i></i></b></h3>
			<p>班级：1603期UI视觉设计师班1班</p>
			<p><i>作业提交率：100%</i><i>考勤率：97%</i></p>
		</dt>
	</dl>
	<!--专业成绩-->
	<div class="major" id="major">
		<h3><i><img src="images/cj_03.png"/></i>专业成绩</h3>
		<div class="canvas"></div>
		<!--<ul>
			<li>第一周</li>
			<li>第二周</li>
			<li>第三周</li>
			<li>第四周</li>
			<li>第五周</li>
			<li>第六周</li>
			<li>第七周</li>
			<li>第八周</li>
			<li>第九周</li>
			<li>第十周</li>
			<li>第十一周</li>
			<li>第十二周</li>
			<li>第十三周</li>
			<li>第十四周</li>
			<li>第十五周</li>
			<li>第十六周</li>
		</ul>-->
	</div>
	<!--职业素质-->
	<div class="quality">
		<h3><i><img src="images/cj_06.png"/></i>职业素质分</h3>
		<div class="line-bg" id="goZyse">
			<a>
			<div class="line-up"></div>
			</a>
		</div>
	</div>
	<!--击败同学-->
	<div class="beat">
		<h3><i><img src="images/cj_10.png"/></i>击败了<span>85</span>%的同学</h3>
		<div class="canvas"></div>
	</div>
</div>
<!--返回-->
<div class="return" id="goBack">
	<a><i class="fa fa-angle-up"></i></a>
</div>